@use '../../../variables.scss' as v;

:host {
  display: block;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: flex-end;
  column-gap: var(--p-custom-margin-m);

  .company {
    font-size: small;
    color: var(--p-surface-500);
    margin-bottom: var(--p-custom-margin-s);
  }
}

.skeleton-h2 {
  margin: 1rem 0;
}

.skeleton-p {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-top: 1rem;
}

@media screen and (max-width: v.$bp-mobile) {
  .title-container {
    display: block;

    h3 {
      margin-bottom: 0;
    }

    .company {
      font-size: x-small;
      margin-bottom: 0;
      text-align: left;
    }
  }
}

@media print {
  .title-container {
    .company {
      font-size: 8pt;
    }
  }
}
