<div class="viewport" style="width: 300px; overflow: hidden; position: relative">
  <div
    class="track"
    [style.transform]="transformStyle()"
    [style.transition]="isTransitioning ? 'transform 0.5s ease-out' : 'none'"
    (transitionend)="onTransitionEnd()"
  >
    @for (item of displayItems(); track $index) {
      <img #imgElement class="image" [src]="item.path" [alt]="item.alt" (load)="refresh()" />
    }
  </div>
</div>

<!-- <div class="dots">
  @for (item of displayItems(); track $index) {
    <span [class.active]="currentIndex === $index + 1" (click)="move($index + 1)"></span>
  }
</div> -->
