.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--p-custom-margin-m);
}

.crsl1 {
  --p-custom-carousel-width: 300px;
  --p-custom-carousel-image-max-width: 300px;
  --p-custom-carousel-image-height: 200px;
}
.crsl2,
.crsl4 {
  --p-custom-carousel-width: 500px;
  --p-custom-carousel-image-max-width: 300px;
  --p-custom-carousel-image-height: 200px;
  --p-custom-carousel-track-gap: 10px;
}
.crsl3 {
  --p-custom-carousel-width: 50vw;
  --p-custom-carousel-image-height: 200px;
}

.crsl4 {
  --p-custom-carousel-overlay-width: 100px;
}
