@use '../../../variables' as v;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  row-gap: var(--p-custom-margin-m);
}

.header {
  padding: var(--p-custom-margin-xs) var(--p-custom-margin-m);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 4px solid;
  border-image-source: var(--p-custom-gradient-blue-to-purple-hori);
  border-image-slice: 1;

  .right-side {
    display: flex;
    column-gap: var(--p-custom-margin-s);
  }
}

p-menubar {
  --p-menubar-gap: 0;
  --p-menubar-padding: 0;
  --p-menubar-base-item-padding: 4px 8px;
}

app-locale-select {
  width: 8rem;
  --p-custom-locale-select-font-size: small;
  --p-custom-locale-select-font-weight: bold;
  --p-custom-locale-select-padding-y: var(--p-custom-margin-xs);
  --p-custom-locale-select-padding-x: var(--p-custom-margin-s);
  --p-select-shadow: none;
  --p-custom-locale-select-height: 26px;
}

.locale-button {
  --p-button-outlined-primary-color: var(--p-custom-font-color);
  --p-button-padding-y: 2px;
}

.locale-menu-item {
  display: flex;
  align-items: center;
  gap: var(--p-custom-margin-s);
}

.country-flag {
  height: 1em;
  border: 1px solid var(--p-surface-200);
}

.main {
  margin: 0 var(--p-custom-margin-m);
  flex-grow: 1;
}

.footer {
  border-top: 1px solid var(--p-surface-200);

  font-size: small;
  font-family: var(--p-custom-font-sans-serif);

  margin-top: var(--p-custom-margin-l);
  padding: var(--p-custom-margin-s) 0;
  text-align: center;
}

//------------------------------------------------------------------------------
// Mobile screeen
//
@media screen and (max-width: v.$bp-mobile) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: var(--p-custom-margin-s);
  }

  .main {
    margin: 0;
    text-align: center;
  }

  .footer {
    font-size: x-small;
  }

  .locale-button {
    height: 23px;
  }
}

//------------------------------------------------------------------------------
// Print
//
@media print {
  .header {
    padding: 0;
  }

  .main {
    margin: 0;
  }

  .footer {
    font-size: x-small;
  }
}
