<div class="header">
  <!-- 左側 -->
  <h1>{{ labels.common.title }}</h1>

  <!-- 右側 -->
  <div class="right-side no-print">
    @if (!isMobile()) {
      <p-menubar [model]="menuItems" class="menu-bar"></p-menubar>
      <app-locale-select
        [config]="localeSelect"
        [value]="locale()"
        (valueChange)="localeChanged($event)"
      ></app-locale-select>
    } @else {
      <p-buttongroup>
        <button
          pButton
          [outlined]="true"
          class="menu-button"
          (click)="menuClicked(menuItems[0].routerLink)"
        >
          <svg data-p-icon="home"></svg>
          {{ menuItems[0].label }}
        </button>
        <button
          pButton
          [outlined]="true"
          class="menu-button"
          (click)="menuClicked(menuItems[1].routerLink)"
        >
          <svg data-p-icon="briefcase"></svg>
          {{ menuItems[1].label }}
        </button>
        <button pButton [outlined]="true" class="menu-button" (click)="skillMenu.toggle($event)">
          <svg data-p-icon="book"></svg>
          {{ menuItems[2].label }}
        </button>
        <button pButton [outlined]="true" class="menu-button" (click)="langMenu.toggle($event)">
          <svg data-p-icon="globe"></svg>
          {{ labels.common.language }}
        </button>
      </p-buttongroup>

      <p-menu #skillMenu [model]="menuItems[2].items" [popup]="true"> </p-menu>

      <p-menu #langMenu [model]="localeMenuItems" [popup]="true" id="lang-menu-body">
        <ng-template #item let-item>
          <div class="locale-menu-item">
            <app-country-flag [locale]="item.id" class="country-flag"></app-country-flag>
            <span>{{ item.label }}</span>
            @if (locale().id === item.id) {
              <svg data-p-icon="check"></svg>
            }
          </div>
        </ng-template>
      </p-menu>
    }
  </div>
</div>

<div class="main">
  <ng-content></ng-content>
</div>

<div class="footer">
  @if (firstYear === currentYear) {
    <span>© {{ firstYear }} Mitsuru Takahashi</span>
  } @else {
    <span>© {{ firstYear }}-{{ currentYear }} Mitsuru Takahashi</span>
  }
</div>
