@let data = article();

@if (data) {
  @for (paragraph of data.paragraphs; track $index) {
    @if (paragraph.titleImage) {
      <div class="title-image">
        <img [src]="paragraph.titleImage.path" [alt]="paragraph.titleImage.alt | localize" />
      </div>
    }
    @if (paragraph.title) {
      <h2>{{ paragraph.title | localize }}</h2>
    }
    @if (paragraph.subTitle) {
      <h3>{{ paragraph.subTitle | localize }}</h3>
    }
    @for (message of paragraph.contents; track $index) {
      <p [innerHTML]="message | localize"></p>
    }
    @if (paragraph.list && paragraph.list.length > 0) {
      <ul>
        @for (item of paragraph.list; track $index) {
          <li [innerHTML]="item | localize"></li>
        }
      </ul>
    }
    @if (paragraph.images) {
      <div class="images-track">
        @for (image of paragraph.images; track $index) {
          <p-image
            [src]="image.path"
            [alt]="image.alt | localize"
            [preview]="true"
            [height]="thumbHeight()"
            [width]="thumbWidth()"
          >
            <ng-template #indicator>
              <i class="pi pi-search"></i>
            </ng-template>
            <ng-template #preview>
              <div class="preview-image">
                <img [src]="image.path" [alt]="image.alt" />
                @if (image.caption) {
                  <div class="caption">{{ image.caption | localize }}</div>
                }
              </div>
            </ng-template>
          </p-image>
        }
      </div>
    }
    @for (messageBlock of paragraph.messageBlocks; track $index) {
      <div class="message-block">
        <div>
          <p>
            @if (messageBlock.type === 'info') {
              <i class="pi pi-info-circle info-icon"></i>
            }
          </p>
        </div>
        <div>
          @for (message of messageBlock.messages; track $index) {
            <p [innerHTML]="message | localize"></p>
          }
        </div>
      </div>
    }
  }
} @else {
  <p-skeleton height="2rem" class="skeleton-h2" />
  <div class="skeleton-p">
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" width="50%" />
  </div>
  <div class="skeleton-p">
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" width="50%" />
  </div>
}
