@let data = article();

@if (data) {
  @for (paragraph of data.paragraphs; track $index) {
    @if (paragraph.titleImage) {
      <div class="title-image">
        <img [src]="paragraph.titleImage.path" [alt]="paragraph.titleImage.alt | localize" />
      </div>
    }
    @if (paragraph.title) {
      <h2>{{ paragraph.title | localize }}</h2>
    }
    @if (paragraph.subTitle) {
      <h3>{{ paragraph.subTitle | localize }}</h3>
    }
    @for (message of paragraph.contents; track $index) {
      <p [innerHTML]="message | localize"></p>
    }
    @if (paragraph.list && paragraph.list.length > 0) {
      <ul>
        @for (item of paragraph.list; track $index) {
          <li [innerHTML]="item | localize"></li>
        }
      </ul>
    }
    @if (paragraph.images) {
      <div class="images-track">
        @for (image of paragraph.images; track $index) {
          <button
            type="button"
            class="thumb-image-btn"
            (click)="showPictureDialog(image.path, image.caption, image.alt)"
          >
            <img
              [src]="image.path"
              [alt]="image.alt | localize"
              [attr.height]="thumbHeight()"
              [attr.width]="thumbWidth()"
              class="thumb-image"
            />
          </button>
        }
      </div>
    }
    @if (pictureDialogVisible) {
      <div
        class="picture-dialog-bg"
        role="button"
        tabindex="0"
        (click)="onPictureDialogBgClick($event)"
        (keydown.enter)="hidePictureDialog()"
        (keydown.escape)="hidePictureDialog()"
      >
        <div class="picture-dialog-body">
          <img
            [src]="clickedPicturePath"
            [alt]="clickedPictureAlt ?? clickedPictureCaption | localize"
            class="picture-dialog-image"
          />
          @if (clickedPictureCaption) {
            <div class="picture-dialog-caption">
              {{ clickedPictureCaption | localize }}
            </div>
          }
        </div>
      </div>
    }
    @for (messageBlock of paragraph.messageBlocks; track $index) {
      <div class="message-block">
        <div>
          <p>
            @if (messageBlock.type === 'info') {
              <svg data-p-icon="info-circle" class="info-icon" [size]="infoIconSize"></svg>
            }
          </p>
        </div>
        <div>
          @for (message of messageBlock.messages; track $index) {
            <p [innerHTML]="message | localize"></p>
          }
        </div>
      </div>
    }
  }
} @else {
  <p-skeleton height="2rem" class="skeleton-h2" />
  <div class="skeleton-p">
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" width="50%" />
  </div>
  <div class="skeleton-p">
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" />
    <p-skeleton height="1rem" width="50%" />
  </div>
}
