@use '../../../variables.scss' as v;

.splash {
  width: 200px;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-out {
  animation: fadeOut 500ms ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(20px);
  }
}

.carousel {
  --p-custom-carousel-width: calc(100dvw - (var(--p-custom-margin-m) * 2));
  --p-custom-carousel-image-height: 440px;
  --p-custom-carousel-image-overlay-font-size: normal;
  --p-custom-carousel-image-overlay-font-weight: bold;
  --p-custom-carousel-track-gap: 1px;
  --p-custom-carousel-image-cursor: pointer;
}

.card-container {
  margin: var(--p-custom-margin-l) auto;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  gap: var(--p-custom-margin-l);

  p {
    text-align: left;
  }

  .catch-copy {
    font-weight: bold;
  }
}

/* 変数に「色」という型を定義する */
@property --p-card-background {
  syntax: '<color>';
  initial-value: transparent;
  inherits: true;
}
.selected-card {
  animation: highlight 2s ease-out;
}

@keyframes highlight {
  0% {
    --p-card-background: transparent;
  }
  20% {
    --p-card-background: var(--p-primary-100);
  }
  100% {
    --p-card-background: transparent;
  }
}

//------------------------------------------------------------------------------
// モバイルレイアウト
//
@media screen and (max-width: v.$bp-mobile) {
  .carousel {
    --p-custom-carousel-width: 100dvw;
    --p-custom-carousel-image-max-width: 100dvw;
    --p-custom-carousel-image-height: 360px;
    --p-custom-carousel-image-overlay-font-size: small;
    --p-custom-carousel-image-overlay-font-weight: bold;
    --p-custom-carousel-track-gap: 0;
  }

  .card-container {
    padding: 0 var(--p-custom-margin-m);
  }
}
