.full-screen-center {
  width: 100%;
  height: 100dvh;
}

.splash {
  width: 200px;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-out {
  animation: fadeOut 500ms ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(20px);
  }
}
