/* You can add global styles to this file, and also import other style files */

@import 'primeicons/primeicons.css';

html,
body {
  margin: 0; // Disable user agent stylesheet.
  padding: 0; // Disable user agent stylesheet.
  font-family: var(--p-custom-font-serif);
  font-size: var(--p-custom-font-size);
  color: var(--p-custom-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--p-custom-font-sans-serif);
}

h2,
h3 {
  margin: var(--p-custom-margin-s) 0;
}
