/* You can add global styles to this file, and also import other style files */

@import 'primeicons/primeicons.css';

html,
body {
  margin: 0; // Disable user agent stylesheet.
  padding: 0; // Disable user agent stylesheet.
  font-family: var(--p-custom-font-sans-serif);
  font-size: var(--p-custom-font-size);
  color: var(--p-custom-font-color);
}

h1 {
  font-family: var(--p-custom-font-sans-serif);
  font-weight: normal;
  letter-spacing: 0.04em;
  margin: 0;
  font-size: var(--p-custom-font-size-h1);
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--p-custom-font-sans-serif);
}

h2,
h3 {
  margin: var(--p-custom-margin-s) 0;
}

/**
 * PrimeNG Font Control.
 */
p-menubar {
  font-size: 12px;
  font-weight: bold;
}

/**
 * Mobil font config.
 */
@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
}
