:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--p-custom-margin-m);
  width: 100%;

  app-circular-image {
    width: 75%;
  }

  app-progress-bar {
    width: 100%;
  }
}
