$container-padding-x: 1rem;

.container {
  width: 100%;
  font-family: var(--p-custom-progress-bar-font-family);

  position: relative;
  padding-top: calc(var(--show-value) * 1rem);
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
}

.progress-label {
  position: absolute;
  top: 0;
  /* 進捗に合わせて移動（中央揃え） */
  left: calc(
    #{$container-padding-x} + (100% - #{$container-padding-x} * 2) * var(--progress-value) / 100
  );
  transform: translateX(-50%);

  /* テキスト */
  font-size: var(--p-custom-progress-bar-font-size);
  font-weight: var(--p-custom-progress-bar-font-weight);
  white-space: nowrap;
}

/* プログレスバー本体 */
.progress-track {
  position: relative;
  width: 100%;
  border-radius: 999px; /* 角丸 */
  overflow: hidden;
  height: var(--p-custom-progress-bar-background-height);
  // 変動幅グラデーション
  background-color: var(--p-surface-200);
  // 固定幅グラデーション
  // background: var(--p-custom-progress-bar-background); /* styles.ts で定義されたグラデーション */
}

.progress-bar {
  position: absolute;
  height: var(--p-custom-progress-bar-background-height);
  // 変動幅グラデーション
  background: var(--p-custom-progress-bar-background); /* styles.ts で定義されたグラデーション */
  width: calc(var(--progress-value) * 1%); /* JSで計算された値と同期 */
  // 固定幅グラデーション
  // right: 0; /* 右端に固定して、左側（完了部分）を露出させる */
  // background-color: var(--p-surface-200);
  // width: calc((100 - var(--progress-value)) * 1%); /* JSで計算された値と同期 */
}
