.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--p-custom-margin-m);
}

.test-case {
  width: calc(50% - var(--p-custom-margin-m));
}

.pb3 {
  --p-custom-progress-bar-background-height: 20px;
}

.pb4 {
  --p-custom-progress-bar-background: red;
}
