@use '../../../../variables.scss' as v;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--p-custom-margin-m);
}

.as1 {
  width: 1000px;
  height: 600px;
  border: 1px dashed blue;
}

@media screen and (max-width: v.$bp-mobile) {
  .as1 {
    width: 90dvw;
    height: 90dvh;
  }
}
